<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lewdx.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.lewdx.entity.Address">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="is_default" jdbcType="VARCHAR" property="isDefault" />
  </resultMap>
  <sql id="Base_Column_List">
    id, receiver, phone, address, userid, is_default
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lewdx.entity.Address">
    insert into t_address (id, receiver, phone, 
      address, userid, is_default
      )
    values (#{id,jdbcType=INTEGER}, #{receiver,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{isDefault,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lewdx.entity.Address">
    insert into t_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="receiver != null">
        receiver,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="receiver != null">
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lewdx.entity.Address">
    update t_address
    <set>
      <if test="receiver != null">
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lewdx.entity.Address">
    update t_address
    set receiver = #{receiver,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      is_default = #{isDefault,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--通过用户名模糊查询地址信息-->
  <select id="getAddressByCondition" resultMap="BaseResultMap" parameterType="string">
    select * from t_address where 1=1
    <if test="_parameter!=null and _parameter!=''">
      and receiver like concat('%',#{userName},'%')
    </if>
  </select>
  <!--取消默认-->
  <update id="cancleDefault" parameterType="int">
        update t_address set is_default = 0 where id = #{id}
    </update>
  <!--设为默认-->
  <update id="addressDefault" parameterType="int">
        update t_address set is_default = 1 where id = #{id}
    </update>

  <!--根据用户ID获取地址信息-->
  <select id="getAddressByUserId" parameterType="int" resultMap="BaseResultMap">
    select * from t_address where userid = #{id}
  </select>
</mapper>